div {
    width: 1100;
    height: 660;
}

ul {
    position: absolute;
    top: 0px;
    left: 850px;
    color: white;
    display: none;
}

#enter {
    // position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    display: block;
    list-style-type: none;
}

#day {
    font-size: 250px;
    list-style-type: none;
    display: none;
    top: -200px;
    left: 60px;
}

#end {
    // font-size: 250px;
    top: 0px;
    left: 100px;
    color: red;
    display: block;
    list-style-type: none;
}

#end li {
    font-size: 30px;
    margin: 5px;
}

#dc {
    margin-bottom: 50px;
    font-size: 150px;
}

#restart {
    position: absolute;
    top: 480px;
    left: 500px;
}