@import "./styles/ul.scss";
@import "./styles/background";


main {
    display: flex;
}

#links {
    position: relative;
    top: 10px;
    left: 0px;
    color: black;
    display: block;
    list-style-type: none;

    li{
        width: 80px;
        height: 80px;
    }
}


#ln {
    width: 70px;
    height: 70px;
    filter: grayscale(0%);

    transition-duration: .3s;
    &:hover{
        filter: grayscale(40%);
        transform: scale(.9);

    }
}

#game-window {
    border: 20px solid black;
    height: 660px;
}

#profile{

    width: 70px;
    height: 70px;
    filter: grayscale(0%);

    transition-duration: .3s;
    &:hover{
        filter: grayscale(40%);
        transform: scale(.9);

    }
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 50%;
}

#gh{
    filter: grayscale(0%);

    transition-duration: .3s;
    &:hover{
        filter: grayscale(40%);
        transform: scale(.9);

    }
}